<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GitHub Webhook Events</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
</head>

<style>
   *{
        font-family: 'JetBrains Mono', monospace;
    }
    body{
        padding-left: 20px;
    }
    ul {
        list-style-type: none;
        padding-left: 30px;
        margin: 0;
    }
    p{
        margin: 0;
    }
    li {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
    }
</style>

<body>
    <h1>GitHub Webhook Events</h1>
    {% for repo, events in webhooks.items() %}
    <a href="{{events[0].html_url}}">
        <h2>{{ repo }}</h2>
    </a>
        <ul>
            {% for event in events %}
                <li>
                    <p>Commit: {{ event.commit }}</p>
                    <p>Message: {{ event.message }}</p>
                    <p>Author: {{ event.author }}</p>
                    <p>Timestamp: {{ event.timestamp }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</body>

</html>

<!-- filtered_data = {
    "repo": repo_info["full_name"],
    "html_url": repo_info["html_url"],
    "timestamp": commit_info["timestamp"],
    "commit": commit_info["id"],
    "message": commit_info["message"],
    "author": commit_info["author"]["name"]
} -->